---
---

@import "minima";

.image-row {
  display: flex;
  gap: 10px;

  figure {
    flex: 1;
    margin: 0;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    figcaption {
      font-size: 14px;
      color: #828282;
      margin-top: 5px;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
